@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	--color-muted: oklch(0.97 0 0);
	--color-background: oklch(1 0 0);
	--color-primary: oklch(0.1448 0 0);
}

[data-theme='dark'] {
	--color-muted: oklch(0.2478 0 0);
	--color-background:oklch(0.209 0 0);
	--color-primary: oklch(1 0 0);
}
