@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  body {
    color: var(--color-primary);
  }
}

@theme {
	--color-muted: oklch(0.97 0 0);
	--color-background: oklch(1 0 0);
	--color-primary: oklch(0.1448 0 0);
}

[data-theme='dark'] {
	--color-muted: oklch(0.2533 0.0159 252.42);
	--color-background:oklch(0.2326 0.0138 253.1);
	--color-primary: oklch(1 0 0);
}
